body {
    margin: 0px;
    background-color: #30404d;
    overflow: hidden;
}

.componentPanel {
   padding-right: 0px;
}

.editorPanel {
   padding-left: 0px;
   padding-right: 0px;
}

.propertyPanel {
   padding-left: 0px;
   padding-right: 0px;
}

.app-container {
   padding-left: 0px;
   padding-right: 0px;
   overflow: hidden;
}